.aboutl{
    width: 100%;
    height: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.aboutLeft{
    text-align: center;
    margin: auto;
    padding: 1rem;
    min-width: 350px;
    flex: 1;
}

.leftp{
    margin: 1.2rem 0;
}

.aboutright{
    min-width: 700px;
    flex: 2;

}

.right-img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.rightimg{
    max-width: 60%;
    border: 1px solid #333;
}

.right-img-stack-top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;

}

.right-img-stack-bottom{
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 5;
}

@media screen and (max-width:640px){
    .aboutright{
        min-width: 400px;
        flex: 2;    
    }
}

